* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #212121;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
input {
  padding-left: 8px;
  outline: transparent;
}
.agenda {
  display: flex;
  width: 300px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: rgb(83, 189, 195);
}
.list {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.timer-container {
  display: flex;
  width: 1440px;
  padding: 36px 929px 316px 156px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  background: #fff;
}
.timer-set {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.set-time {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  background: #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 8px;
}
.set-time:hover {
  border: 1px solid #000;
}
.set-time:active {
  border: 1px solid #4e75ff;
}

.start:disabled {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #cfcfcf;
  color: #989898;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
}
.start:enabled {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
}

.timer {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  color: #2e2f42;
  font-size: 40px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.04em;
}
.label {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  background: #fff;
  gap: 16px;
  position: absolute;
  top: 10%;
  left: 20%;
}
.input-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.form-input[name='delay'] {
  width: 360px;
  height: 40px;
  padding-left: 8px;
}

.fieldset {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.fieldset-legend {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  padding: 3px;
  margin-left: 28px;
}
.fieldset-label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.fieldset-btn {
  accent-color: #4e75ff;
  width: 32px;
  height: 32px;
}
.form-submit-btn {
  display: flex;
  width: 360px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
}
